html {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: rgb(29, 29, 29);
    background-image: url("accueil/fond.gif");
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
}

img {
    width: 22%;
    border-radius: 10px;
    border-style: solid;
    border-color: #444444;
}

h1, h2 {
    display: inline-block;
    color: #fff;
    z-index: 2;
    margin: 30px;
}
h2 {
    color: rgb(78, 10, 10);
    text-shadow: 5px 2px 5px red;
}



.bouton-portfolio{
    color: #ffffff;
    border-style: solid;
    border-color: #4b4b4b;
    border-radius: 5px;
    text-align: center;
    margin: 42px;
    padding: 16 32;
}

a {
    text-decoration: none;
}

.Accueil{
    position: relative;
    background: #333333;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 38%;
}

.profil {
    display: block;
    margin: 20px auto;
    text-align: center;
}


.Accueil::after, .Accueil::before{
    content: '';
    position:absolute;
    height: 100%;
    width: 100%;
    background: red;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
    background-image: conic-gradient(from var(--angle), #0011ff, #00aeff, #00aeff, #0021df);
}

.Accueil::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
}

@media (max-width: 600px) {
    .profile-photo {
        width: 100px;
    }

    .container {
        width: 95%;
    }
}